button {
    box-sizing: border-box;
}

button.primary {
    height: fit-content;
    min-width: 3em;
    min-height: fit-content;
    padding: .75em 1em;

    font-size: var(--font-size);

    line-height: 1em;

    margin: 0;

    background: var(--primary);
    color: var(--on-primary);
    border: var(--border-outline);
    border-radius: .5em;

    transition: box-shadow var(--speed1) ease;

    user-select: none;
    -webkit-user-select: none;
}

button.primary:not(:disabled) {
    cursor: pointer;
}

button.primary:disabled {
    color: var(--on-primary-disabled);
    border: var(--border-outline-disabled);
}

button.primary * {
    /* pointer-events: none; */
}

button:not(:disabled):focus, button:not(:disabled):focus-visible, button:not(:disabled):hover {
    box-shadow: var(--light-box-shadow);

    outline: none;
}