input.primary {
    padding: .5em 1em;
    width: 100%;
    box-sizing: border-box;
    background: var(--primary-contrast);
    color: var(--on-primary);
    border-radius: .5em;
    border: var(--border-outline);
    margin: 0;
}

input.primary:focus-visible, input.primary:focus-within {
    outline: none;
    box-shadow: var(--light-box-shadow);
}